@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
body {
    font-family: 'Courier Prime', monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('background-image.jpg');
    background-size: cover; /* Ensures the image covers the entire background */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}

header {
    font-family: 'Pacifico', cursive;
    font-size: 1.2em;
    background-color: #1800FF;
    color: #FF00A1;
    padding: 1em 0;
    text-align: center;
}

nav {
    background-color: #00F2FF;
    text-align: center;
    padding: 0.5em 0;
}

nav a {
    color: #FF00A1;
    text-decoration: none;
    margin: 0 1em;
    font-weight: bold;
}

section {
    padding: 2em;
}

footer {
    background-color: #1800FF;
    color: #00F2FF;
    text-align: center;
    padding: 1em 0;
}
